.data-table {
  width: 100%;
  margin-top: 20px;  
background: linear-gradient(to bottom, #BB377D, #FBD3E9);

  }

  &-headers{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-grow: 1;
  }
  &-rows {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-grow: 1;
  }

